@model StoreViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <input type="search" name="name" />
    <input type="submit" asp-controller="Store" asp-action="SearchGame" class="btn btn-primary" />
</form>

<div class="text-center" id="storeCarusel">
    <h1 class="display-4">Store page</h1>
    <div id="game_images" class="carousel slide" data-ride="carousel">
        @{ int i = 0;
            <div class="carousel-inner">
                @foreach (var game in Model.TenGames)
                {
                    if (game.IsApproved == false)
                    {
                        continue;
                    }

                    <div class="carousel-item @(i++ == 0 ? "active" : null)">
                        <p class="text-left display-4">@game.Name</p>
                        <a asp-route-id="@game.Id" asp-controller="Store" asp-action="GamePage">
                            <img src="~/Images/GameImages/@game.Screenshots[0]" alt="Image unavailable" width="1100" height="500" />
                        </a>
                    </div>
                }
            </div>
        }
        <a class="carousel-control-prev" href="#game_images" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#game_images" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div>
    @foreach (var game in Model.ElseGames)
    {
        if (game.IsApproved == false)
        {
            continue;
        }
        <div>
            <p class="text-left display-4">@game.Name</p>
            <a asp-route-id="@game.Id" asp-controller="Store" asp-action="GamePage">
                <img src="~/Images/GameImages/@game.Screenshots[0]" alt="Image unavailable" width="300" height="200" />
            </a>
        </div>
        
    }
</div>
